{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Masthead-->
<header class="masthead" style="background-image: url( {% static './assets/img/blog.jpeg' %});">
    <div class="container">
        <div class="masthead-heading ">Have a Read, won't you?</div>
        <div class="masthead-subheading">Sahihi Text Services</div>
    </div>
</header>



<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for post in blog_posts %}
            <!-- Post preview-->
            <div class="post-preview" >
                <a href="{% url 'article' post.slug %}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.sub_title }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{ post.publisher }}</a>
                    on {{ post.published_on }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
            <!-- Pager-->

            {% if blog_posts.count < 5 %}
            {% else %}
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
            {% endif %}
        </div>
    </div>
</div>

{% include 'includes/basejs.html'%}

{% endblock %}