{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Page Header-->

<header class="masthead" style="background-image: url({% static 'assets/img/blog.jpeg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.sub_title }}</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">{{ post.publisher }}</a>
                        on {{ post.published_on }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4" style="padding: 2rem;">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ post.content.html|safe }}
            </div>
        </div>
    </div>
    <div class="text-center"><a class="btn btn-primary btn-l justify-content-start text-uppercase" href="{% url 'blog' %}">← Back to Posts</a></div>
</article>




{% include 'includes/basejs.html'%}

{% endblock %}