{% extends 'base.html' %}

{% load static %}

{% block content %}


<body id="page-top">
        
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Sahihi Text Services</div>
                <div class="masthead-heading text-uppercase">Welcome</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#services">See More</a>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>
                    <h3 class="section-subheading text-muted">STT Services</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-headphones fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Transcription</h4>
                        <p class="text-muted">We offer the best transcription services starting from <b>$1.25</b> per audio minute. All transcripts are typed out and proofread by a human. We guarantee 99.99% accuracy. </p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-keyboard fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">English Closed Captioning</h4>
                        <p class="text-muted">STT offers English on-screen video captions from <strong>$1.25</strong> per video minute. By adhering to SDH guidelines, your digital video content will stand out from the rest.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-globe fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Translation</h4>
                        <p class="text-muted">From <strong>$3</strong> per audio minute, we will translate your material. We will also give SEO recommendations to ensure your content reaches the desired audience.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Notable projects</h3>
                </div>
                <div class="row">
                    {% for portfolio_item in portfolio_items %}
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item -->
                        <div class="portfolio-item">
                            
                            <!-- <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1"> -->
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal{{ portfolio_item.id }}">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{{ portfolio_item.image.url }}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">{{ portfolio_item.heading }}</div>
                                <div class="portfolio-caption-subheading text-muted">{{ portfolio_item.sub_heading }}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </section>

        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">About</h2>
                    <h3 class="section-subheading text-muted">EST. 2017</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/1.png'%}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2017-2018</h4>
                                <h4 class="subheading">The journey begins!</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Between 2017 & 2018 our founder was working under the umbrella of experience individuals in the industry. He learned the ropes fast and the STT dream was born.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/2.png'%}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2018</h4>
                                <h4 class="subheading">An Agency is Born</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">In December of 2018, STT was officially launched. Since then, we've been providing text services to local and international agencies.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Be Part
                                <br />
                                Of Our
                                <br />
                                Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Team-->
        <section class="page-section bg-light" id="founder">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Our Founder</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                
                <div class="row"> 
                    {% for team_member in team_members %}
                    {% if team_members.count == 1 %}
                    <div class="col-lg-12">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ team_member.team_member_img.url }}" alt="{{ team_member.job_title}}" />
                            <h4>{{ team_member.first_name }} {{ team_member.last_name }}</h4>
                            {% if team_member.twitter %}
                            <a class="btn btn-dark btn-social mx-2" href="{{ team_member.twitter }}" aria-label="{{ team_member.first_name }} Twitter Profile"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                            {% if team_member.facebook %}
                            <a class="btn btn-dark btn-social mx-2" href="{{ team_member.facebook }}" aria-label="{{ team_member.first_name }} Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            {% endif %}
                            {% if team_member.linkedin %}
                            <a class="btn btn-dark btn-social mx-2" href="{{ team_member.linkedin }}" aria-label="{{ team_member.first_name }} LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    {% elif team_members.count == 2 %}
                    <div class="col-lg-6">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ team_member.team_member_img.url }}" alt="{{ team_member.job_title}}" />
                            <h4>{{ team_member.first_name }} {{ team_member.last_name }}</h4>
                            <p class="text-muted">{{ team_member.job_title }}</p>
                            {% if team_member.twitter %}
                            <a class="btn btn-dark btn-social mx-2" href="{{ team_member.twitter }}" aria-label="{{ team_member.first_name }} Twitter Profile"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                            {% if team_member.facebook %}
                            <a class="btn btn-dark btn-social mx-2" href="{{ team_member.facebook }}" aria-label="{{ team_member.first_name }} Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            {% endif %}
                            {% if team_member.linkedin %}
                            <a class="btn btn-dark btn-social mx-2" href="{{ team_member.linkedin }}" aria-label="{{ team_member.first_name }} LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ team_member.team_member_img.url }}" alt="{{ team_member.job_title}}" />
                            <h4>{{ team_member.first_name }} {{ team_member.last_name }}</h4>
                            <p class="text-muted">{{ team_member.job_title }}</p>
                            {% if team_member.twitter %}
                            <a class="btn btn-dark btn-social mx-2" href="{{ team_member.twitter }}" aria-label="{{ team_member.first_name }} Twitter Profile"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                            {% if team_member.facebook %}
                            <a class="btn btn-dark btn-social mx-2" href="{{ team_member.facebook }}" aria-label="{{ team_member.first_name }} Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            {% endif %}
                            {% if team_member.linkedin %}
                            <a class="btn btn-dark btn-social mx-2" href="{{ team_member.linkedin }}" aria-label="{{ team_member.first_name }} LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"><em>Everyone has dreams. Success comes to those who act.<br>~ Sam Gupta ~</em></p></div>
                </div>
            </div>
        </section>
        <!-- Clients-->
        <div class="py-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{% static 'assets/img/logos/netflix.svg'%}" alt="..." aria-label="Netflix Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{% static 'assets/img/logos/imdb.svg' %}" alt="..." aria-label="IMDb Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{% static 'assets/img/logos/disney.svg' %}" alt="..." aria-label="Disney Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{% static 'assets/img/logos/closed_captioning.svg' %}" alt="..." aria-label="CC Logo" /></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Get in touch!</h3>
                </div>
                <form id="contactForm" method="POST" action="{% url 'home' %}">
                    {% csrf_token %}
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Name input-->
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                <!-- Email address input-->
                                {{ form.email }}
                            </div>
                            <div class="form-group mb-md-0">
                                <!-- Phone number input-->
                                {{ form.phone_no }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Name input-->
                                {{ form.subject }}
                            </div>
                            <div class="form-group ">
                                <!-- Message input-->
                                {{ form.message }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center text-white mb-3">
                            <div class="fw-bolder">Message sent!</div>
                            <br />
                        </div>
                    </div>
                    
                    <!-- Error -->
                    <!-- <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div> -->
                    <!-- Submit Button-->
                    <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Send Message</button></div>
                    
                </form>
            </div>
        </section>
        {% include 'includes/modals.html'%}
    </body>
</html>

{% endblock %}


